* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;

  width: 100vw;
  height: 100vh;
}

.main-container {
  width: 965px;
}

.container {
  display: grid;
  column-gap: 0;
  row-gap: 0;
  min-height: 800px;
  width: 960px;

  border: 2px solid rgb(101, 16, 16);
}
div.cell {
  display: inline-block;
  background-color: aquamarine;
  min-height: 10px;
  /* min-width: 10px; */
}

button {
  border: none;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 10px 15px;

  background-color: aquamarine;

  margin-bottom: 10px;
  margin-right: 8px;
  border: 2px solid rgb(101, 16, 16);
}
