body{
    align-content: center;
    align-self: center;
    justify-self: center;
    width: 960px;
}
.container{
    display: flex;
}
div.cell{
 background-color: aquamarine;
 height: 25px;
 width: 25px;
}

.changed{
    background-color: red;
}

